# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
.venv/

# Django stuff
db.sqlite3

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
.venv/

# Django stuff
db.sqlite3

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
